.image {
    position: relative;
    display: inline-block;
  }
  
  .image-container img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .text1 {
    font-size: 25px;
    text-align: left;
    padding: 50px;
    color: white;
    gap:50px;
  }


.header {
    font-size: 25px;
    text-align: center;
    color:white;
}

.Button1 {
    background-color: rgb(57, 139, 167);
    color: white;
    border-radius: 20px;
    font-size: 20px;
    height: 30px;
    
}

.text2 {
    color: black;
    text-align: center;
}

.images {
    text-align: center;
}



.text3 {
    font-size: 15px;
    text-align: center;
    
}
